.comment-container {
  margin-top: 20px;
}
.comment-item {
  background-color: rgb(194, 248, 248);
  margin-bottom: 10px;
  border: 1px solid #0078db;
  border-radius: 5px;
  padding: 10px;
  > span {
    display: block;
    margin-bottom: 10px;
  }
}
.button-container {
  display: flex;
  align-items: center;
  gap: 10px;
  > button {
    padding: 10px;
    background-color: #0078db;
    color: white;
    border: 1px solid #0078db;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
  }
}
