.page__container {
  background-color: hsl(180, 83%, 25%);
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  > h1 {
    text-align: center;
  }
}
.page__link {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 25%;
  text-align: center;

  > li {
    padding: 20px;
    background-color: rgb(97, 25, 25);
    border-radius: 40px;
    a {
      color: white;
      font-size: 20px;
      font-weight: 600;
    }
  }
}
.page__link li a {
  color: white;
  font-size: 20px;
  font-weight: 600;
}
