.page__container {
  background-color: hsl(180, 69%, 79%);
  height: 95vh;
  padding: 20px;
  > h1 {
    text-align: center;
  }
}
.page__link {
  display: flex;
  gap: 20px;
  flex-direction: column;

  > li {
    padding: 20px;
    background-color: rgb(97, 25, 25);
    border-radius: 40px;
    a {
      color: white;
      font-size: 20px;
      font-weight: 600;
    }
  }
}
.page__link li a {
  color: white;
  font-size: 20px;
  font-weight: 600;
}
.page__link__item {
  font-size: 24px;
  font-weight: 600;
  margin-left: 4px;
  color: black;
}