.container {
  background-color: rgb(245, 236, 236);
  margin: 0px;
  display: block;
  > h1 {
    text-align: center;
  }
}
.products {
  padding: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.products__single {
  height: 300px;
  text-align: center;
  background-color: rgb(197, 185, 185);
  border: 1px solid red;
  border-radius: 4px;
  > img {
    height: 90%;
    width: 60%;
    object-fit: contain;
  }
  > span {
    font-size: 14px;
    display: block;
  }
}
.pagination {
  display: block;
  text-align: center;
  padding: 40px;
  cursor: pointer;
  > span {
    border: 1px solid red;
    padding: 12px;
  }
}
.disable__button {
  opacity: 0;
  background-color: aqua;
}
.pagination__seleced {
  background-color: red;
}

/* For WebKit browsers */
